﻿@model CarInventory.Models.Users
@{

}
@{
    Html.EnableClientValidation();
}

@using (Ajax.BeginForm("Authorize", "Account", new AjaxOptions { HttpMethod = "POST" }))
{
    @Html.ValidationSummary(true)
    <br />
    <div class="form-group">
        <label for="exampleInputEmail1">@Html.LabelFor(c => c.UserName)</label>
        @Html.EditorFor(c => c.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">@Html.LabelFor(c => c.Password)</label>
        @Html.PasswordFor(c => c.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <input type="submit" value="Submit" id="Submit" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
}