﻿@model CarInventory.Models.Cars

@using (Ajax.BeginForm("AddEditRecord", "Car", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "carDialog" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>
        @if (ViewBag.IsUpdate == true)
        {
            @Html.HiddenFor(model => model.Id)
        }
        @Html.HiddenFor(model => model.UserId, new { @Value = Session["uid"] })
        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price, new { @onkeypress = "return isNumber(event)" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year, new { @onkeypress = "return isNumber(event)" })
            @Html.ValidationMessageFor(model => model.Year)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.New)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.New)
            @Html.ValidationMessageFor(model => model.New)
        </div>
        <p>
            @if (ViewBag.IsUpdate == true)
            {
                <input type="submit" value="Update" id="btnUpdate" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
            }
            else
            {
                <input type="submit" value="Save" id="btnSave" name="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
            }
        </p>
    </fieldset>
}