﻿@model CarInventory.Models.Cars

<fieldset>
    <legend>Car</legend>

    <form class="form-horizontal">
        <div class="form-group">
            <label  class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Brand)</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Model)</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Price)</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Year)</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.New)</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.New)
            </div>
        </div>
    </form>
</fieldset>