﻿@model IEnumerable<CarInventory.Models.Cars>
@{
    string searchString = string.Empty;
    if (!string.IsNullOrEmpty(Request.QueryString["searchString"]))
    {
        searchString = Request.QueryString["searchString"];
    }
}
<script type="text/javascript">


        $(document).ready(function () {

            if ('@searchString' != '')
            {
                $('#Search').val('@searchString');
            }

            $.ajaxSetup({ cache: false });

            $("#openDialog").on("click", function (e) {
                e.preventDefault();
                var url = $(this).attr('href');

                $("#dialog-edit").dialog({
                    title: 'Add Car',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);
                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-edit").dialog('open');
                return false;
            });

            $(".editDialog").on("click", function (e) {
                var url = $(this).attr('href');
                $("#dialog-edit").dialog({
                    title: 'Edit Car',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-edit").dialog('open');
                return false;
            });

            $(".confirmDialog").on("click", function (e) {

                var url = $(this).attr('href');
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                            window.location = url;

                        },
                        "Cancel": function () {
                            $(this).dialog("close");

                        }
                    }
                });
                $("#dialog-confirm").dialog('open');
                return false;
            });

            $(".viewDialog").on("click", function (e) {
                var url = $(this).attr('href');
                $("#dialog-view").dialog({
                    title: 'View Car',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    buttons: {
                        "Close": function () {
                            $(this).dialog("close");

                        }
                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-view").dialog('open');
                return false;
            });

            $("#btncancel").on("click", function (e) {
                alert('ss');
                $("#dialog-edit").dialog('close');

            });

            $("#btnSearch").on("click", function (e) {
                var url = '@Url.Action("Index","Car")' + '?searchString=' + $('#Search').val(); // build new url
                location.href = url;
                return false;
            });
        });
</script>

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Add New Car", "AddEditRecord", "Car", null, new { @id = "openDialog", @class = "btn btn-default" })
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <td>
            <b>List of Cars</b>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <td>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Search By Brand/Model</label>
                    <input type="text" name="Search" id="Search" />
                </div>
                <button type="submit" class="btn btn-default" name="Search" id="btnSearch">Search</button>
            </form>
        </td>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.New)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditRecord", "Car", new { id = item.Id }, new { @class = "editDialog" }) |
                @Html.ActionLink("Details", "Details", "Car", new { id = item.Id }, new { @class = "viewDialog" }) |
                @Html.ActionLink("Delete", "DeleteRecord", "Car", new { id = item.Id }, new { @class = "confirmDialog" })
            </td>
        </tr>
    }
</table>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-view" style="display: none">
</div>
